.category-container {
  margin: 0 0 16px 0;
}

.category-header {
  margin: 0 0 8px 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.category-row {
  display: flex;
  justify-content: space-between;
}

.category-row-summary {
  border-top: 1px solid #ccc;
  margin: 4px 0 0 0;
  padding: 4px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.positive-amount {
  color: #60a917;
}

.negative-amount {
  color: #da5a53;
}
