.summary-name {
  margin: 0 0 8px 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
}

.summary-balance-row {
  display: flex;
  justify-content: space-between;
  margin: 8px 0 0 0;
  padding: 8px 0 0 0;
  border-top: 1px solid #ccc;
}

.positive-amount {
  color: #60a917;
}

.negative-amount {
  color: #da5a53;
}
